
<section class="bg-light">
  <div class="container">
    <footer class="py-1"> 
      <div class="row">

        <div class="col-6 col-md-3 mb-1">
          <h6 class="footer-title">Bize Ulaşın</h6>
          <div class="col-auto footer-text">
              <div><strong>Adres:</strong> İstanbul/Sultanbeyli/no:183</div>
              <div><strong>Email:</strong> enesilbayy@gmail.com</div>
              <div><strong>Telefon:</strong> 02161449325</div>
          </div>
        </div>

        <div class="col-6 col-md-2 mb-1">
          <h6 class="footer-title">Çok Satan Markalar</h6>
          <ul class="nav flex-column footer-text">
            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Monster</a></li>
            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Asus</a></li>
            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Lenovo</a></li>
            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Sony</a></li>
            <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-body-secondary">Logitech</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-1">
          <h6 class="footer-title">Çok Satan Kategoriler</h6>
          <ul class="nav flex-column footer-text">
            <li class="nav-item mb-1"><a href="/Categories/Index/10"class="nav-link p-0 text-body-secondary">Dizüstü Bilgisayar</a></li>
            <li class="nav-item mb-1"><a href="/Categories/Index/15" class="nav-link p-0 text-body-secondary">Masaüstü Bilgisayar</a></li>
            <li class="nav-item mb-1"><a href="/Categories/Index/16" class="nav-link p-0 text-body-secondary">Tablet Bilgisayar</a></li>
            <li class="nav-item mb-1"><a href="/Categories/Index/17" class="nav-link p-0 text-body-secondary">Monitörler</a></li>
            <li class="nav-item mb-1"><a href="/Categories/Index/13" class="nav-link p-0 text-body-secondary">Tv & Görüntü & Ses</a></li>
          </ul>
        </div>

      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-1 my-1 border-top">
        <p class="mb-0 footer-text">© 2025 ETicaret, Ltd. Tüm Hakları Saklıdır</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-2"><a class="text-secondary" href="https://x.com/_enesilbay" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
          <li class="ms-2"><a class="text-secondary" href="https://instagram.com/enesilbayy" target="_blank"><i class="bi bi-instagram"></i></a></li>
          <li class="ms-2"><a class="text-secondary" href="https://facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>
</section>
